.timeline {
  border: 1px solid purple;
}

.text {
  display: flex;
  justify-content: flex-end;
}

.bar {
  display: flex;
}

.newLine {
  border: 1px solid white;
  background-color: white;
  color: white;
  width: 50px;
  margin: 5px 3px 0 3px;
  height: 15px;
  border-radius: 10px;
}
